amqp==5.0.6
arrow==1.2.1
billiard==3.6.4.0
celery==5.2.1
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cycler==0.11.0
Deprecated==1.2.13
Flask==2.0.2
fonttools==4.28.2
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.3.2
kombu==5.2.2
MarkupSafe==2.0.1
matplotlib==3.5.0
networkx==2.6.3
numpy==1.21.4
packaging==21.3
pandas==1.3.4
Pillow==8.4.0
prompt-toolkit==3.0.23
pyparsing==3.0.6
python-dateutil==2.8.2
pytz==2021.3
redis==4.0.2
rq==1.10.0
rq-dashboard==0.6.1
setuptools-scm==6.3.2
six==1.16.0
supervisor==4.2.2
tomli==1.2.2
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
wrapt==1.13.3
